* {
    font-family: "Courier New", Courier, monospace;
}
/*overflow: hidden;*/

/*       FORM REGISTRAR       */

#div1 {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#verTerminos {
    text-align: left;
}
#yaCuenta {
    text-align: right;
}
#titulo {
    text-align: center;
}
h4 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2em;
}

.btn1 {
	overflow: hidden;
    background-color: #8E8E8E;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    box-shadow: 2px 2px 2px #111;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 10px 0;
}
.btn1 span {
    font-size: 16px;
    line-height: 40px;
}
.btn1:active {
    top: 1px;
    box-shadow: 1px 1px 2px #000;
}
.btn1 i {
    margin-right: 10px
}
.facebook {
    background-color: #3B5998;
}
.facebook i {
    float: left;
    width: 44px;
    height: 40px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center;
}
.twitter {
    background-color: #1CB5E8;
}
.twitter i {
    float: left;
    width: 44px;
    height: 40px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAi5JREFUeNrs2M1LVFEYx3GvDoWvEKSMhhqBSrhQjCwXRuDKjbVoIYgQbVy0CXduWgT+BS5cSgUJvdmmVb4giIHRSpTEUjcGLnwtDUy7fQ88wnVQ5zlzzyyE88AHFY7n/uaZc+85M0EYhjnnqXJzzln5wD6wD+wD+8DWdRV9+IxFfMRDFETGFKFBNZvZ6ZTuotFivHELX/EvPF4HeIU6tGEEzzRzai9chHG5eJXyf2qwEJ5dO/JzCmWaebVLogQVaMJ7NKcZn4cnqE0zrhjbWECvyzUcSAhTN/ABj3HhlPGluK+c26zlLqy5XMMlGE15O826nEYnLiOIjK89Yd2eVht4oL0vEsou7OAN2lK63iLm8Akz+IFL+HvGOxCtbxjXPnISFuNe4yYeSdho1QtTm/gdWUKaynP9HE5iQH5fTzPWdLfSIsRP7Lru8B6uy1Pi0PHG8l3md9rhDby0ffs09zzms7U1v8A7x91dli07K4FNl3vQj1XpTtyalCWRtcOPWWtLcqG9mGHNo/K57QtPWF5kH/fQ4aC7I/LCLVe93enLqMaXMF4tWRyiMjqtnRR6EKv4Yxl2C+0ZXjfjwEeuYdgi7C664lxTOzA35e+kHLzfYl8Zdg3dMRukvunuoBX5svU2y66nrTE8xXTcO1Ub2Oz3F+WzWLnF/BMYkvPzLxc7TWD57WVSDvCm47dxBYXyPD+QUCvSSRN2Flsut8bAf93qA/vAPrAP7APb1H8BBgDZp0G+vm9PBgAAAABJRU5ErkJggg==") no-repeat center center;
}
.plus {
	overflow: hidden;
    padding-left: 54px;
    background-color: #393838;
}
.plus .i {
    border-radius: 3px;
    position: absolute;
    border-top: 8px solid #D64335;
    width: 44px;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-right: 1px solid #343434;
    line-height: 26px;
}
.plus i:before {
    content: "g";
    font: 26px "Palatino Linotype", Georgia, serif;
    text-shadow: 1px 1px 1px #444;
    line-height: 0px;
    margin-left: 10px;
}
.plus i:after {
    content: "+";
    border-left: 11px solid #426AAD;
    background-color: #32A45E;
    border-right: 11px solid #F8CA32;
    width: 11px;
    font: 18px "Palatino Linotype", Georgia, serif;
    line-height: 38px;
    position: absolute;
    top: -8px;
    left: 12px;
    height: 8px;
}
/*      header      */

header {
    border-style: solid;
}
#divImgPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#imgPerfil {
    width: 200px;
    height: 180px;
}
#divTitulo {
    text-align: left;
    padding-top: 40px;
}
#divBtnOpciones {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    padding-left: 60px;
}
#btnOpciones img {
    color: black;
    max-height: 20%;
    max-width: 20%;
}
.dropdown-menu {}
/*      Shearc      */

#divSearch {
    padding: 20px;
    padding-left: 60px;
}
/*-------------------------------------*/

#divHr {
    padding-top: 10px;
}
hr.hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    position: absolute;
    bottom: 30px;
    width: 99%;
}
/*    footer    */

footer {
    padding-left: 20px;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 40px;
}
/*      Imagenes publicadas     */

#divImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*#imgPublicada {
    margin: auto;
    max-width: 334px;
    max-height: 334px;
}*/

/*------------------------*/

#divVerMas {
    text-align: center;
}
/*      FormPerfil         */

#divImgUsuario {
    text-align: center;
}
#divBtnAtras {
    padding-top: 8px;
    padding-left: 90%;
}
#divBtnAtras img {
    max-height: 30%;
    max-width: 30%
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#inputArchivo {
    display: none;
}
/*     formSiguiendo y formSeguidores       */

#divContainer {
    padding-top: 20px;
}
#divBtnAtrasSS {
    padding-right: 60px;
}
#btnAtrasSS img {
    float: right;
    max-height: 10%;
    max-width: 10%
}
#divSyS {
    text-align: center;
    padding-top: 20px;
}
#divSearchSyS {
    padding: 20px;
}
/*      formVisita      */

#divImgVisita {
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgVisita {    
    max-height: 60%;
    max-width: 60%
}